*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: sans-serif;
}

h2, h3 {
  margin-bottom: 0;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0.5rem 0;
}

button {
  background: white;
  border: 1.25px solid lightgrey;
  box-shadow: 0 1px 4px 1px hsl(0, 0%, 0%, 0.1);
  transition: background 150ms;
  cursor: pointer;
}

button:hover {
  background: hsl(0deg 0% 90%);
}

.DiagramPage {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 30rem 1fr;
}

.Sidebar {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem 1rem;
}

.Operations .grid {
  display: grid;
  grid-template-columns: 2rem 2rem 1fr;
  gap: 1rem 0.5rem;
  margin: 1rem 0;
  align-items: center;
}

.Operations .gridRow {
  display: contents;
}

.Operations .applyBtn {
  font-family: serif;
  font-size: 1.125rem;

  width: 32px;
  aspect-ratio: 1 / 1;
  border-width: 1.5px;
  border-radius: 9999px;
  text-align: center;
  vertical-align: middle;
}

.Operations .applyBtn sup {
  font-size: 0.65em;
}

.Operations .permutation {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.25rem;
}

.Operations .cycle:hover {
  background-color: lightgrey;
}

.Operations .scrambleBtn {
  padding: 0.5rem 1rem;
}

.SampleGroups .list {
  display: flex;
  gap: 0.5rem;
}


.Diagram {
  justify-self: center;
  align-self: center;
}

.Point {
  transition: transform 750ms linear;
}